
.root {
	/*-fx-background-color: #CCFF99;*/
}

.button {
	-fx-font: 14pt "DejaVuSans";
}

.label {
	-fx-font: 14pt "DejaVuSans";
}

.text-field {
	-fx-font: 14pt "DejaVuSans";
}

.table-view {
	-fx-font: 14pt "DejaVuSans";
}

.combo-box {
	-fx-font: 14pt "DejaVuSans";
}

.slider {
	-fx-font: 14pt "DejaVuSans";
}

.radio-button {
	-fx-font: 14pt "DejaVuSans";
}

#videoPane {
	-fx-background-color: lightgrey;
}

#title {
	-fx-font: 20pt "DejaVuSans";
}
